.custom-button {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 8px 16px;
	border: none;
	border-radius: 20px; /* Rounded shape */
	background-color: transparent;
	font-size: 14px;
	cursor: pointer;
	transition: background 0.2s ease-in-out;
}

/* Default state */
.custom-button.default {
	background-color: #f0f0f0;
}

/* Hover effect */
.custom-button:hover {
	background-color: #e0e0e0;
}

/* Active state */
.custom-button.active {
	background-color: #f0f0f0;
	border: 1px solid #000000;
}

.color-picker {
	display: inline-block;
	position: relative;
}

.color-input {
	width: 32px;
	height: 32px;
	border: none;
	padding: 0;
	cursor: pointer;
	background: none;
}

.number-input {
	width: 56px;
	height: 24px;
	border: 1px solid #ccc;
	border-radius: 4px;
	text-align: center;
	font-size: 14px;
	outline: none;
}

.number-input:focus {
	border-color: #1890ff;
}

.text-input {
	width: 100%;
	padding: 4px 8px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: none;
}

.text-input:focus {
	border-color: #1890ff;
}

.small-input {
	width: 150px;
}

.segmented-container {
	display: flex;
	border: 1px solid #ccc;
	border-radius: 6px;
	overflow: hidden;
	background: white;
}

.segmented-option {
	flex: 1;
	padding: 6px 12px;
	border: none;
	background: white;
	cursor: pointer;
	transition: background 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.segmented-option:hover {
	background: #f0f0f0;
}

.segmented-option.active {
	background: #1890ff;
	color: white;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	bottom: 40px;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 10px;
}

.dropdown-content li:hover {
	background-color: rgb(154, 150, 150);
}

.show-emoji-dropdown,
.show-shape-dropdown,
.show-history-dropdown {
	display: block;
}
